* {
  font-family: "Roboto";
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #1d1d1d;
  color: #fff;
}

main {
  padding: 2rem;
  max-width: 25rem;
  margin: 0 auto;
}

a {
  cursor: pointer;
}

h1 {
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.links-section {
  margin-bottom: 3rem;
}

.links-container {
  display: flex;
}

.link {
  margin-right: 3rem;
  display: flex;
  align-items: center;
}

.link img {
  max-width: 5rem;
  max-height: 5rem;
}
